@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Added styles*/

.press-start-2p-font {
  font-family: "Press Start 2P", system-ui, 'Segoe UI';
}

.libertinus-keyboard-font {
  font-family: "Libertinus  Keyboard", sans-serif;
}

.asimovian-font {
  font-family: 'Asimovian', Arial, Helvetica,'Open Sans';
}

.font-fifty { font-size: 50px;}


/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: large;
  text-decoration: line-through;
  text-transform: capitalize;
}

.didILetter {
  font-size: small;
  text-decoration: dotted;
  font-size: 75px;
}

.didDTwoLetter {
  font-size: 80px;
}

/* THE word */

.theTLetter {
  font-size: 70px;
  color: blueviolet;
  text-decoration: underline;
}

.theHLetter {
  font-size: 75px;
  text-decoration: line-through;
  font-weight: 700;
  color: green;
}

.theELetter {
  font-size: xx-large;
  font-style: oblique;
  text-decoration: overline;
  color: red;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 100px;
  text-decoration: solid;
  color: azure;
}

.frontendRLetter {
  font-weight: bolder;
  color: blue;
}

.frontendOLetter {
  font-size: 105px;
  color: black;
}

.frontendNLetter {
  font-size: medium;
  text-transform: capitalize;
  text-decoration: line-through red;
  color: darkorange;
}

.frontendTLetter {
  text-decoration: dotted underline blue;
}

.frontendELetter {
  font-size: 60px;
  color: crimson;
}

.frontendNTwoLetter {
  font-size: xx-large;
  text-decoration: double line-through palegreen;
}

.frontendDLetter {
  font-size: 60px;
  color: crimson;
}

/* DEVELOPER word */

.developerDLetter {
  text-decoration: double overline red;
}
.developerELetter {
  text-decoration: overline orangered;
}
.developerVLetter {
  text-decoration: double line-through orange;
}
.developerETwoLetter {
  text-decoration: line-through yellow;
}
.developerLLetter {
  text-decoration: double underline green;
}
.developerOLetter {
  text-decoration:  underline blue;
}
.developerPLetter {
  text-decoration: double line-through purple;
}
.developerEThreeLetter {
  text-decoration: line-through brown;
}
.developerRLetter {
  text-decoration: double overline red;
}

/* TAKE word */

.takeTLetter {
  text-transform: capitalize;
  color: lightgreen;
  font-size: 25px
}
.takeALetter {
  font-size: 40px;
  color: chartreuse;
}
.takeKLetter {
  color: green
}
.takeELetter {
  color: darkgreen;
}

/* UP word */

.upULetter {
  font-size: 66px;
  text-decoration: none;
  color: black
}
.upPLetter {
  font-size: 33px;
  font-weight: 300;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 12px;
}
.gardeningALetter {
  font-size: 24px;
  text-decoration: underline;
  color: orangered;
}
.gardeningRLetter {
  font-size: 36px;
  font-family: 'Ceviche One', sans-serif;
}
.gardeningDLetter {
  font-size: 48px;
  text-decoration: underline;
  color: darkcyan
}
.gardeningELetter {
  font-size: 60px;
  font-family: 'Ceviche One', sans-serif;
}
.gardeningNLetter {
  font-size: 72px;
  text-decoration: underline;
  color: orangered;
}
.gardeningILetter {
  font-size: 84px;
  font-family: 'Ceviche One', sans-serif;
}
.gardeningNTwoLetter {
  font-size: 96px;
  text-decoration: underline;
  color: darkcyan
}
.gardeningGTwoLetter {
  font-size: 108px;
  font-family: 'Ceviche One', sans-serif;
}

/* BECAUSE word */

.becauseBLetter,
.becauseELetter,
.becauseCLetter {
  font-size: 75px;
  text-decoration: dotted line-through crimson;
  color: blue;
  text-transform: capitalize;
}
.becauseALetter {
  font-size: 100px;
  text-transform: uppercase;
  text-decoration: line-through black;
}
.becauseULetter,
.becauseSLetter,
.becauseETwoLetter {
  font-size: 99px;
  font-weight: lighter;
  text-decoration: solid line-through blue;
  color: red;
  font-family: 'Raleway Dots', sans-serif;
}

/* THEY word */

.theyTLetter,
.theyHLetter,
.theyELetter,
.theyYLetter {
  font-size: 75px;
  font-family: "Honk", system-ui;
}


/* WANTED word */
.wantedWLetter,
.wantedNLetter,
.wantedTLetter,
.wantedELetter,
.wantedDLetter { 
  font-size: 55px;
  color: black;
}

.wantedWLetter {
  text-decoration: double underline rgba(231, 54, 178, 0.993);
}
.wantedALetter { 
  text-transform: capitalize;
  font-size: 65px;
  font-family: "Honk", system-ui;
}
.wantedNLetter {
  text-decoration: double underline rgb(248, 199, 244)
}
.wantedTLetter {
  text-decoration: line-through rgb(234, 255, 141)
}
.wantedELetter {
  text-decoration: double underline rgb(255, 213, 27)
}
.wantedDLetter {
  text-decoration: line-through rgb(199, 169, 0)
}

/* TO word */

.toTLetter {
  font-size: 95px;
  color: gold;
}
.toOLetter {
  font-size: 100px;
  text-decoration: line-through white;
}

/* IMPROVE word */

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
  font-family: "Honk", system-ui;
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
  font-family: "Honk", system-ui;
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
  font-family: "Honk", system-ui;
}
.question-mark {
  font-size: 90px;
  font-family: "Honk", system-ui;
}
